# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/
env/
.venv/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Environment Variables
.env

# Project-specific
history.json

# Logs
*.log

# Temporary files
*.tmp

# Audio and Video files
*.wav
*.mp3
*.mp4

# Discord bot token
token.txt

# Miscellaneous
.DS_Store
Thumbs.db

# Gradio app
flagged/

# local cache
.cache/
.pytest_cache/

# Build files
build/
dist/
*.egg-info/
*.egg
