# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/
env/
.env

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Project-specific
history.json

# Logs
*.log

# Temporary files
*.tmp

# Audio and Video files
*.wav
*.mp3
*.mp4

# Discord bot token
token.txt

# OpenAI API Key
openai_api_key.txt

# Miscellaneous
.DS_Store
Thumbs.db
